.form-range-container {
    position: relative;
    width: 100%;
    height: 1rem;
    margin: 1rem 0;
    padding: 0;
  }
  
  .form-range {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .form-range::-webkit-slider-thumb {
    position: relative;
  }